* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

#canvas {
  background-image: url("사막.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
}

#timer {
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 26px;
}


